.table-frame {
    width: 400px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #bbeeff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  cursor: default;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    text-align: left;
}

tbody {
    height: 400px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
